{% extends 'blogs/base.html' %}

{% block content %}

    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}


    <form action="{% url 'accounts:login' %}" method='post'>    
        {# here accounts is the app_name defined in urls.py and login is the name of URL pattern provided by Djangos default authentication system #}
        {% csrf_token %}
        {{ form.as_div }}

        <button name="submit">Log in</button>
    </form>

{% endblock content %}