{% extends "blogs/base.html" %}

{% block page_header %}
  <h3><a href="{% url 'blogs:blog' blog.id %}">{{ blog }}</a></h3>
{% endblock page_header %}

{% block content %}
  <h4 class="mb-3">Add a new entry:</h4>

  {# url - tells django to look into my urls.py file #}
  {# blogs:blog tells to look for the path in urls.py where path 'name=blog' #}
  {# blog.id extracts the primary key no. of the data #}
  <form action="{% url 'blogs:new_post' blog.id %}" method='post'>
    {% csrf_token %}
    {{ form.as_div }}
    <button name="submit" class="btn btn-outline-secondary mt-3">Add Post</button>
  </form>
{% endblock content %}